NEXT_PUBLIC_SUPABASE_URL=https://bayrtittlqmoxitonlyr.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJheXJ0aXR0bHFtb3hpdG9ubHlyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU1NjI3NjUsImV4cCI6MjA4MTEzODc2NX0.ohXgrvdRjP9Bm6YRZ-9CsoneuFpuV7X4nHlmV0fhof0
