@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html,
body {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  @apply bg-neutral-950 text-neutral-100;
}
a {
  @apply text-neutral-100;
}
